/********************/
/* GENERAL TEMPLATE */
/********************/

.profile-box h2,.dashboard-box h2{
    margin:1em 0;
}

.text-left{
    text-align: left;
}

/*************************/
/* USER PROFILE TEMPLATE */
/*************************/

.user-profile-pic{
    width:10vw;
}

.profile-box{
    padding:1em;
    margin:1em 0;
    border-radius: 8px;
}

.course-container{
    margin:2em 0;
}

.badge-container{
    margin:2em 0;
}

#user-messages-container{
    background-color: #F18818;
    color:white;
}

#profile-company-advertisement img{
    width:100%;
}

#user-order-table{
    width:100%;
}


/******************************/
/* TEACHER DASHBOARD TEMPLATE */
/******************************/

.analysis-button{
    color:white !important;
    padding:1em 0;
    margin-top:1em;
}
.analysis-button a{
    background-color: #F18818;
    padding:1em;
}
.analysis-button a:hover{
    background-color: #ff9c2c;
}


/*****
    PROFIE PICTURE
*****/

#user-change-profile-pic-container{
    display:none;
}

.profile_pic_container{
    margin:0 2em;
    text-align: center;
}

.wrs_profile_choice{
    height: 100px;
    width:auto;
}

.profile-pic-buttons{
    text-align: right;
}

.profile-pic-button{
    color:white;
    border:0;
    background-color: #F18818;
    padding:1em;
    margin-top:1em;
}
.profile-pic-button:hover{
    background-color: #ff9c2c;
}

/*****
    ADMIN PAGE
*****/

.sk-alert{
    color:white;
    font-weight: bold;
    padding:1em;
}

.sk-alert-success{
    background-color: green;
}